@model IEnumerable<SDStudentPortal.Models.UserModel>

@{
    ViewBag.Title = "SeachUsers";
}

<h2>Search Users</h2>
@using (Html.BeginForm())
<p>    
    {
    <p>
        Search Users: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
    }
</p>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="image">
            <img src="../../@Html.DisplayFor(modelItem => item.ProfilePictureURL)" style="height:250px; width:160px" />
        </div>
        <div class="name">
        @Html.ActionLink(item.FirstName, "StudentProfile", "UserModels", new { id = item.UserId })
        @item.LastName</div>

    }
</div>