@{
    ViewBag.Title = "Student Blogs";
}

@using (Html.BeginForm("Index", "Blog", FormMethod.Get))
{
    <div class="form-horizontal" style="text-align:left;padding-top:15px;">
        @Html.Label("Search Blogs")
        @Html.TextBox("txtSearch")  <input type="submit" value="Search" class="btn btn-default" />
    </div>
}

<br />
@Html.Partial("_IndexPartialPrivate")