@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>

<address><br />
        Main Campus<br/>
        265 Notre Dame Ave<br/>
        Winnipeg, Manitoba, Canada<br/>
        R3B 1N9<br/>
    <br/>
        433 Main Street - 13th Floor<br />
        Winnipeg, Manitoba, Canada<br />
        R3B 1B3<br />
    <br />
        Tel: 204-926-8389<br />
        Fax: 204-926-8320<br />
        TollFree: 888-892-5262<br />
        Email:
        <a href="mailto:info@robertsoncollege.com">info@robertsoncollege.com</a>
</address>
