@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<div class="row">
    <div class="col-md-4">
        @Html.Partial("_IndexPartialPublic")
    </div>

    <div class="col-md-8">
        @if (Request.IsAuthenticated)
        {
            @Html.Partial("_IndexPartialPrivate")
        }
    </div>
</div>