@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    Welcome to the Robertson College Software Developers Student Portal!
</div>

<div>
    The information on this page will change shortly based on specifications from Employment Services. Stay tuned!
</div>