@model Tuple<IEnumerable<SDStudentPortal.Models.Blog>, IEnumerable<SDStudentPortal.Models.BlogComment>, SDStudentPortal.Models.UserModel>

<img class="img-circle" src="~/@Model.Item3.ProfilePictureURL" height="75" width="75" />
<!-- badge -->
<div class="rank-label-container">
    <span class="label label-default rank-label">Comments</span>
</div>
